<div>
  <div>
    <h4>Starship</h4>
  </div>
  <div>
    <span class="label">Name:</span>
    <span>{{name}}</span>
  </div>
  <div>
    <span class="label">Model:</span>
    <span>{{model}}</span>
  </div>
  <div>
    <span class="label">Manufacturer:</span>
    <span>{{manufacturer}}</span>
  </div>
  <div>
    <span class="label">Cost In Credits:</span>
    <span>{{costInCredits}}</span>
  </div>
  <div>
    <span class="label">Length:</span>
    <span>{{length}}</span>
  </div>
  <div>
    <span class="label">Max Atmosphering Speed:</span>
    <span>{{maxAtmospheringSpeed}}</span>
  </div>
  <div>
    <span class="label">Crew:</span>
    <span>{{crew}}</span>
  </div>
  <div>
    <span class="label">Passengers:</span>
    <span>{{passengers}}</span>
  </div>
  <div>
    <span class="label">Cargo Capacity:</span>
    <span>{{cargoCapacity}}</span>
  </div>
  <div>
    <span class="label">Consumables:</span>
    <span>{{consumables}}</span>
  </div>
  <div>
    <span class="label">Hyperdrive Rating:</span>
    <span>{{hyperdriveRating}}</span>
  </div>
  <div>
    <span class="label">MGLT:</span>
    <span>{{mglt}}</span>
  </div>
  <div>
    <span class="label">Starship Class:</span>
    <span>{{starshipClass}}</span>
  </div>
  <div>
    <span class="label">Created:</span>
    <span>{{created}}</span>
  </div>
  <div>
    <span class="label">Edited:</span>
    <span>{{edited}}</span>
  </div>
  <div>
    <span class="label">Films:</span>
    <div *ngFor="let film of films">
      <app-link-to-item [routerPath]="'/film'" [urlPath]="film" [name]="'Film'"></app-link-to-item>
    </div>
  </div>
</div>
