<div>
  <div>
    <span>Name:</span>
    <span>{{name}}</span>
  </div>
  <div>
    <span>Height</span>
    <span>{{height}}</span>
  </div>
  <div>
    <span>Mass</span>
    <span>{{mass}}</span>
  </div>
  <div>
    <span>Hair Color</span>
    <span>{{hair_color}}</span>
  </div>
  <div>
    <span>Skin Color</span>
    <span>{{skin_color}}</span>
  </div>
  <div>
    <span>Eye Color</span>
    <span>{{eye_color}}</span>
  </div>
  <div>
    <span>Birth Year</span>
    <span>{{birth_year}}</span>
  </div>
  <div>
    <span>Gender</span>
    <span>{{male}}</span>
  </div>
</div>
