<div>
  <div>
    <span class="label">Name:</span>
    <span>{{name}}</span>
  </div>
  <div>
    <span class="label">Height:</span>
    <span>{{height}}</span>
  </div>
  <div>
    <span class="label">Mass:</span>
    <span>{{mass}}</span>
  </div>
  <div>
    <span class="label">Hair Color:</span>
    <span>{{hair_color}}</span>
  </div>
  <div>
    <span class="label">Skin Color: </span>
    <span>{{skin_color}}</span>
  </div>
  <div>
    <span class="label">Eye Color:</span>
    <span>{{eye_color}}</span>
  </div>
  <div>
    <span class="label">Birth Year:</span>
    <span>{{birth_year}}</span>
  </div>
  <div>
    <span class="label">Gender:</span>
    <span>{{gender}}</span>
  </div>
  <div>
    <span class="label">Home World:</span>
    <span>
      <app-link-to-item [routerPath]="'/planet'" [urlPath]="homeworld" [name]="'Home World'"></app-link-to-item>
    </span>
  </div>
</div>
