<div>
  <div>
    <span class="label">Name:</span>
    <span>{{name}}</span>
  </div>
  <div>
    <span class="label">Rotation Period:</span>
    <span>{{rotation_period}}</span>
  </div>
  <div>
    <span class="label">Orbital Period:</span>
    <span>{{orbital_period}}</span>
  </div>
  <div>
    <span class="label">Diameter:</span>
    <span>{{diameter}}</span>
  </div>
  <div>
    <span class="label">Climate:</span>
    <span>{{climate}}</span>
  </div>
  <div>
    <span class="label">Gravity:</span>
    <span>{{gravity}}</span>
  </div>
  <div>
    <span class="label">Terrain:</span>
    <span>{{terrain}}</span>
  </div>
  <div>
    <span class="label">Surface Water:</span>
    <span>{{surface_water}}</span>
  </div>
  <div>
    <span class="label">Residents:</span>
    <span></span>
  </div>
</div>
