<div>
  <div>
    <h4>Planet</h4>
  </div>
  <div>
    <span class="label">Name:</span>
    <span>{{name}}</span>
  </div>
  <div>
    <span class="label">Rotation Period:</span>
    <span>{{rotation_period}}</span>
  </div>
  <div>
    <span class="label">Orbital Period:</span>
    <span>{{orbital_period}}</span>
  </div>
  <div>
    <span class="label">Diameter:</span>
    <span>{{diameter}}</span>
  </div>
  <div>
    <span class="label">Climate:</span>
    <span>{{climate}}</span>
  </div>
  <div>
    <span class="label">Gravity:</span>
    <span>{{gravity}}</span>
  </div>
  <div>
    <span class="label">Terrain:</span>
    <span>{{terrain}}</span>
  </div>
  <div>
    <span class="label">Surface Water:</span>
    <span>{{surface_water}}</span>
  </div>
  <div>
    <span class="label">Residents:</span>
    <div *ngFor="let resident of residents">
      <app-link-to-item [routerPath]="'/character'" [urlPath]="resident" [name]="'Person'"></app-link-to-item>
    </div>
  </div>
  <div>
    <span class="label">Films</span>
    <div *ngFor="let film of films">
      <app-link-to-item [routerPath]="'/film'" [urlPath]="resident" [name]="'Film'"></app-link-to-item>
    </div>
  </div>
</div>
